# this file runs the app as a deamon 
#/etc/systemd/system/

[Unit]
Description=Katarina discord bot
After=network.target

[Service]
Type=simple
WorkingDirectory=
ExecStart= nodepath apppath 
Restart=on-failure

[Install]
WantedBy=multi-user.target

